body {
    font-family: Roboto, sans-serif;
    transition: all 0.5s;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    color: $cor2;
    line-height: 24px;
  }
  a {
    text-decoration: none !important;
  }
  .copyright-text {
    text-transform: uppercase;
  }
  .main-button {
    a {
      background-color: $cor1;
      border-radius: 5px;
      padding: 10px 15px;
      display: inline-block;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-decoration: none;
      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }