.about-page {
  margin-top: 50px;
  margin-bottom: 80px;
}
.about-page .left-image img {
  max-width: 100%;
}
.about-page .right-content {
  h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 14px;
    color: $cor2;
    font-weight: 400;
  }
  span {
    display: inline-block;
    margin-left: 8px;
    a {
      i {
        transition: all 0.5s;
        background-color: #aaa;
        width: 26px;
        height: 26px;
        display: inline-block;
        text-align: center;
        line-height: 26px;
        border-radius: 50%;
        color: $cor3;
        font-size: 12px;
        margin-right: 5px;
      }
      &:hover i {
        background-color: $cor1;
      }
    }
  }
}

.about-page .right-content .share {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.contact-page {
  margin-top: 50px;
  margin-bottom: 80px;
}
.contact-page .right-content input,
.contact-page .right-content textarea {
  border-radius: 0px;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 30px;
}
.contact-page .right-content {
  input {
    height: 44px;
    line-height: 44px;
  }
  textarea {
    height: 200px;
    max-height: 280px;
  }
}
.contact-page .right-content {
  span {
    display: inline-block;
    margin-left: 8px;
    a {
      i {
        transition: all 0.5s;
        background-color: #aaa;
        width: 26px;
        height: 26px;
        display: inline-block;
        text-align: center;
        line-height: 26px;
        border-radius: 50%;
        color: $cor3;
        font-size: 12px;
        margin-right: 5px;
      }
      &:hover i {
        background-color: $cor1;
      }
    }
  }
  h6 {
    font-size: 14px;
    color: $cor2;
    font-weight: 400;
  }
}
.contact-page .right-content .share {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.contact-page .right-content .button {
  cursor: pointer;
  background-color: $cor1;
  outline: 0;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  color: $cor3;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-decoration: none;
  transition: all 0.5s;
  box-shadow: none;
  border: none;
}
